<h4>Mes autres expériences</h4>
<ul class="menu-horizontal" role="navigation">
	<li><a href="{{ url('Experiences:Article', {url: "rennes-developpeur-web"}) }}" class="{{ getArgs('url') == 'rennes-developpeur-web' ? "active" }}">Rennes</a></li>
	<li><a href="{{ url('Experiences:Article', {url: "brest-developpeur-web"}) }}" class="{{ getArgs('url') == 'brest-developpeur-web' ? "active" }}">Brest</a></li>
	<li><a href="{{ url('Experiences:Article', {url: "nantes-mabon-e-commerce"}) }}" class="{{ getArgs('url') == 'nantes-mabon-e-commerce' ? "active" }}">Nantes</a></li>
	<li><a href="{{ url('Experiences:Article', {url: "bordeaux-tunetoo-e-commerce"}) }}" class="{{ getArgs('url') == 'bordeaux-tunetoo-e-commerce' ? "active" }}">Bordeaux</a></li>
	<li><a href="{{ url('Experiences:Article', {url: "lannion-iut-informatique"}) }}" class="{{ getArgs('url') == 'lannion-iut-informatique' ? "active" }}">Lannion</a></li>
</ul>