{% extends "Template/base.html.twig" %}

{% block title %}
{% endblock %}


{% block content %}
	<h1 id="description">
		‘‘Je suis développeur Web full-stack basé en Bretagne, spécialisé dans le développement back Symfony et front Angular.’’
	</h1>

	<section id="competences">
		<div class="bloc-gauche">
			<p><span class="blue-text">var</span> developpeurPolyvalent <span class="red-text bold">=</span></p>
			<p class="big">{</p>
		</div>
		<div class="bloc-droite">
			<ul role="navigation">
				<li><a target="#ill-competences">Compétences</a></li>
				<li><a target="#ill-experiences">Experience</a></li>
				<li><a target="#ill-portfolio">Portfolio</a></li>
				<li><a target="#" class="inactive">Services</a></li>
			</ul>
		</div>
		<div id="illustrations">
			<div class="illustration" id="ill-competences">
				<a href="#"><img src="{{ asset('css3.png') }}" class="ill-competence" alt="Langage CSS3"></a>
				<a href="#"><img src="{{ asset('rails.svg') }}" class="ill-competence" alt="Ruby On Rails"></a>
				<a href="#"><img src="{{ asset('linux.png') }}" class="ill-competence" alt="Systèmes Linux"></a>
				<a href="#"><img src="{{ asset('angular.png') }}" class="ill-competence" alt="AngularJS"></a>
				<a href="#"><img src="{{ asset('symfony.png') }}" class="ill-competence" alt="Framework Symfony 3"></a>
			</div>
			<div class="illustration" id="ill-experiences">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 -100 250 200" width="350">
					<a xlink:href="{{ url('Experiences:Article', {url: "lannion-iut-informatique"})}}">
						<text x="135" y="-50" font-size="30px">
							Lannion
						</text>
					</a>
					<a xlink:href="{{ url('Experiences:Article', {url: "nantes-mabon-e-commerce"}) }}">
						<text x="130" y="65" font-size="42px">
							Nantes
						</text>
					</a>
					<a xlink:href="{{ url('Experiences:Article', {url: "brest-developpeur-web"}) }}">
						<text x="32" y="81" font-size="33px">
							Brest
						</text>
					</a>
					<a xlink:href="{{ url('Experiences:Article', {url: "rennes-developpeur-web"}) }}">
						<text x="20" y="-35" font-size="35px">
							Rennes
						</text>
					</a>
					<a xlink:href="{{ url('Experiences:Article', {url: "bordeaux-tunetoo-e-commerce"}) }}">
						<text x="38" y="20" font-size="60px">
							Bordeaux
						</text>
					</a>
				</svg>
			</div>
			<div class="illustration" id="ill-portfolio">
				<a href="{{ url('Experiences:Article', {url: "lannion-iut-informatique"}, 'sparfell') }}"><img src="{{ asset('sparfell.jpg') }}" alt="Sparfell"></a>
				<a href="{{ url('Experiences:Article', {url: "nantes-mabon-e-commerce"}, 'bpm') }}"><img src="{{ asset('bpm.png') }}" alt="Mabon.fr"></a>
				<a href="{{ url('Experiences:Article', {url: "bordeaux-tunetoo-e-commerce"}) }}"><img src="{{ asset('tunetoo.png') }}" alt="Tunetoo.com"></a>
			</div>
		</div>
	</section>
{% endblock %}
